<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!--<div class="container d-block">-->
<!--  <h5 class="text-center mt-5 mb-5">Create a Survey</h5>-->
<!--  <form [formGroup]="surveyForm"  class="row g-3">-->
<!--    <div class="form-group">-->
<!--      <div class="col-md-6">-->
<!--        <label for="fname" class="form-label">First Name</label>-->
<!--        <input type="text" class="form-control" formControlName="fname" id="fname">-->
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--        <label for="lname" class="form-label">Last Name</label>-->
<!--        <input type="text" class="form-control" formControlName="lname" id="lname">-->
<!--      </div>-->
<!--      <div class="col-12">-->
<!--        <label for="title" class="form-label">Title</label>-->
<!--        <input type="text" class="form-control" formControlName="title" id="title">-->
<!--      </div>-->
<!--      <div class="col-12">-->
<!--        <label for="description" class="form-label">Description</label>-->
<!--        <textarea type="text" class="form-control" formControlName="description" id="description" ></textarea>-->
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--        <label for="createdDate" class="form-label">Created Date</label>-->
<!--        <input type="date" class="form-control" formControlName="createdDate" id="createdDate">-->
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--        <label for="expireDate" class="form-label">Expiry Date</label>-->
<!--        <input type="date" class="form-control" formControlName="expireDate" id="expireDate">-->
<!--      </div>-->
<!--    </div>>-->
<!--    <div class="col-12">-->
<!--      <button type="submit" class="btn btn-primary">Submit</button>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->

