<img class="fullBg" [src]="home.image">


<div class="container">

  <h1>{{home.title}}</h1>
  <h2>{{home.subtitle}}</h2>
  <p>{{home.subtitle}}</p>

  
</div>

<div class="row ps-2 w-100">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-3 ">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner" style="border-radius: 10%;">
        
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 align-self-center">
    
    
  </div>
</div>




