<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--	<title>Login Page</title>-->

<!--  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

<!--	&lt;!&ndash;Bootsrap 4 CDN&ndash;&gt;-->
<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->

<!--    &lt;!&ndash;Fontawesome CDN&ndash;&gt;-->
<!--	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">-->

<!--	&lt;!&ndash;Custom styles&ndash;&gt;-->
<!--	<link rel="stylesheet" type="text/css" href="login.component.scss">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--	<div class="d-flex justify-content-center h-100">-->
<!--		<div class="card">-->
<!--			<div class="card-header">-->
<!--				<h3>Sign In</h3>-->
<!--			</div>-->
<!--			<div class="card-body">-->
<!--				<form [formGroup]="loginForm">-->
<!--					<div class="input-group form-group">-->
<!--						<div class="input-group-prepend">-->
<!--							<span class="input-group-text"><i class="fas fa-user"></i></span>-->
<!--						</div>-->
<!--						<input type="text" formControlName="username" class="form-control" placeholder="username">-->

<!--					</div>-->
<!--					<div class="input-group form-group">-->
<!--						<div class="input-group-prepend">-->
<!--							<span class="input-group-text"><i class="fas fa-key"></i></span>-->
<!--						</div>-->
<!--						<input type="password" formControlName="password" class="form-control" placeholder="password">-->
<!--					</div>-->

<!--					<div class="form-group">-->
<!--						<input type="submit" value="Login" class="btn float-right login_btn" (click)="onSubmit()">-->
<!--					</div>-->
<!--				</form>-->
<!--			</div>-->
<!--			<div class="card-footer">-->
<!--				<div class="d-flex justify-content-center links">-->
<!--					Don't have an account?<a href="/register">Sign Up</a>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<div class="container d-block" style="padding-left: 25%; min-height: 0;">
  <h5 class="mt-5 mb-3">Login</h5>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="row g-3">
    <div class="form-group">
      <div class="col-md-8">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" formControlName="username" id="username">
      </div>
      <div class="col-8">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" id="password">
      </div>

    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div class="d-flex justify-content-center">
					Don't have an account?<a href="/register">Sign Up</a>
		</div>
        </form>

      </div>


