.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-danger {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
}

.btn-success {
  color: #fff;
  background-color: green;
  border-color: green;
}
