
<div class="container d-block" style="padding-left: 25%; min-height: 0;">
  <h5 class="mt-3 mb-3">Edit the Survey</h5>
  <form [formGroup]="surveyForm" (ngSubmit)="submit()"  class="row g-3">
    <div class="form-group">
      <div class="col-md-8">
        <label for="fname" class="form-label">First Name</label>
        <input type="text" class="form-control" [(ngModel)]="survey!.FirstName" formControlName="fname" id="fname">
      </div>
      <div class="col-md-8">
        <label for="lname" class="form-label">Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="survey!.LastName" formControlName="lname" id="lname">
      </div>
      <div class="col-8">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" [(ngModel)]="survey!.Title" formControlName="title" id="title">
      </div>
<!--      <div class="col-8">-->
<!--        <label for="description" class="form-label">Description</label>-->
<!--        <textarea type="text" class="form-control" [(ngModel)]="survey!.description" formControlName="description" id="description" ></textarea>-->
<!--      </div>-->
      <div class="col-md-8">
        <label for="createdDate" class="form-label">Created Date</label>
        <input type="date" class="form-control" [(ngModel)]="survey!.CreatedDate" formControlName="createdDate" id="createdDate">
      </div>
      <div class="col-md-8">
        <label for="expireDate" class="form-label">Expiry Date</label>
        <input type="date" class="form-control" [(ngModel)]="survey!.ExpiryDate" formControlName="expireDate" id="expireDate">
      </div>

      <p class="pt-3">Add 5 true or false questions</p>

      <div *ngFor="let sur of survey.Questions">
        <div class="col-md-8">
          <label for="q1" class="form-label">Q1</label>
          <input type="text" class="form-control" [(ngModel)]="sur.q1" formControlName="q1" id="q1">
        </div>

        <div class="col-md-8">
          <label for="q2" class="form-label">Q2</label>
          <input type="text" class="form-control" [(ngModel)]="sur.q2" formControlName="q2" id="q2">
        </div>

        <div class="col-md-8">
          <label for="q3" class="form-label">Q3</label>
          <input type="text" class="form-control" [(ngModel)]="sur.q3" formControlName="q3" id="q3">
        </div>

        <div class="col-md-8">
          <label for="q4" class="form-label">Q4</label>
          <input type="text" class="form-control" [(ngModel)]="sur.q4" formControlName="q4" id="q4">
        </div>

        <div class="col-md-8">
          <label for="q5" class="form-label">Q5</label>
          <input type="text" class="form-control" [(ngModel)]="sur.q5" formControlName="q5" id="q5">
        </div>

      </div>

    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
</div>

<!--<div class="my-5">-->
<!--  <app-list-survey></app-list-survey>-->
<!--</div>-->

